.cardEvent{
    display: flex;
    justify-content: space-around;
    background: white;
    width: 60%;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem 0;
    border-radius: 0.5rem;
    border: 1px solid var(--pink-opaque);
    box-shadow: 5px 5px 2.5px var(--dark-pink);
}